<!DOCTYPE html>
<html>
<head>
<title> WEDDING  WOMEN </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<link rel="shortcut icon" href="logo.png" >
<link rel="stylesheet" type="text/css" href="weddingwomen.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--responsive-->










<!--maincode-->
</head>
<body>
  <A name="top"></A>

   <!-- MENUS -->
   
        <nav class="topnav" id="myTopnav">
          <img class="attirent" src="logo.png" width=150 height=75>

           <label  for="drop" class="toggle" >MENU <i class="fa fa-bars" style="font-size: 20px;"></i></label>
           <input type="checkbox" id="drop" />


          <ul class="menu">
            
            <li><a href="index.php">HOME</a>
            </li>

            <li><a href="#">SELECT YOUR PLACE   <i class="fa fa-chevron-down" style="font-size:15px"></i></a>
                              
                              <ul>
                                <li><a href="#">MUMBAI  <img src="https://image.flaticon.com/icons/svg/0/834.svg" width="25" height="25"></li>
                    <li><a href="#"><a href="#"><a href="#">AGRA  <img src="https://image.flaticon.com/icons/svg/1197/1197938.svg" width="25" height="25"></li>
                                <li><a href="#"><a href="#">PUNE  <img src="https://image.flaticon.com/icons/svg/89/89020.svg" width="25" height="25"></li>
                                <li><a href="#">DELHI  <img src="https://image.flaticon.com/icons/svg/743/743629.svg" width="25" height="25"></li>   
                              </ul>         
            </li>
            
            <li><a href="#">OFFERS  <i class="fa fa-chevron-down" style="font-size:15px"></i></a>
              <ul>
                <li><a href="festiveoff.html">FESTIVE   <i class="fas fa-gifts" style="font-size:15px"></i></a></li>
                <li><a href="wedoffers.html">WEDDING   <i class="fas fa-gifts" style="font-size:15px"></i></a></li>
              </ul>
            </li>
            <li><a href="#">CATEGORY  <i class="fa fa-chevron-down" style="font-size:15px"></i></a>

              <ul>
                <li><a href="weddingmen.html">MEN   <i class="fas fa-male" style="font-size:15px"></i></a>
                  <ul>
                    
                    <li><a href="weddingmen.html">WEDDING </a></li>
                    
                   
                  </ul>
                </li>
                <li><a href="weddingwomen.html">WOMEN   <i class="fas fa-female" style="font-size:15px"></i></a>
                  <ul>
                    
                    <li><a href="weddingwomen.html">WEDDING  </a></li>
                   
                    
                  </ul>
                </li>
                

              </ul>
            </li>
            
            <li><a href="contact.php">CONTACT US</a></li>
     
          </ul>

       
        </nav>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:60px;text-shadow: 2px 2px 5px red;">WELCOME TO WEDDING TRIBAL.</h1>
  <div>
  	<br>
  	<br>
  <span class="blinkingone" style="font-size: 30px;padding:5%;color: white;margin-left: -10px;margin-top: 80%; border-style: double;border-color: solid black ;border-radius: 50px;"><b>!  FOR WOMEN  !</b></span>
  </div>
  <div class="hero-text-two">
    <p style="margin-top: 100px;">ExClUsIvE BrIdAl WeAr OnLy @ATTIRENT.</p>
    <button class="btn warning" onclick="location.replace('indexc2.php');"><em><strong>EXPLORE HERE</strong></em></button>
</div>
</div>
</div>
</div>


<!--#bridallookscaption-->
<div class="coltext" style="margin-left: 550px;">
    
     <span class="blinking" style="font-size: 60px;color: white;margin-left: -70px;margin-top: -50%; border-style: double;border-color: solid black ;"><b>#BRIDALOOKS</b></span>
</div>



<!--overlayimages-->
<div class="container">
  <img src="sabhyasachiweddingwomenone.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <i class='fas fa-gift' style='font-size:50px;color:black;margin-left: 45%; color: #FB76A0'></i>
    <div class="text" style="font-size: 40px; margin-top: 60px"><h4 class="dashed">BuY Sabhyasachi Wedding Wear </h4></div>
    <br>
    <p style="color: white; font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>EXCLUSIVELY DESIGNED BY SABHYASACHI BRIDAL WEAR.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 15px;margin-left: 25px"><strong>RENTING WEDDING LEHENGA AT CHEAPER COST ONLY AT ATTIRENT.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>"ETHNIC DRESSES TRULY ARE DRESSES WITH SOUL."</strong></p> 
    <button class="button"><span>RENT HERE</span></button>
</div>
</div>


<div class="containerone">
  <img src="sabhyasachiweddingtribal.jpg" alt="Avatar" class="image">
  <div class="overlayone">
    <i class='fas fa-gift' style='font-size:50px;color:yellow;margin-left: 45%;color: #FB76A0'></i>
    <div class="textone" style="font-size: 40px; margin-top: 60px"><h4 class="dashed">Buy Manyavar Wedding Wear</h4></div>
    <br>
    <p style="color: white; font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>EXCLUSIVELY DESIGNED BY VOGUE FASHION ETHNIC.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 15px;margin-left: 25px"><strong>RENT BRIDAL ATTIRE AT CHEAPER COST ONLY AT ATTIRENT.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>"NOTHING MAKES A WOMEN MORE BEAUTIFUL THAN THE BELIEF THAT SHE IS BEAUTIFUL."</strong></p> 
    <button class="buttonone"><span>RENT HERE</span></button>
</div>
</div>



<!-- contents-->

<div class="coltext" style="margin-left: 400px; color: #020480;text-shadow: 2px 2px red;">
  <span class="blinking" style="font-size: 60px;color: white;margin-left: -50px;margin-top: -40%; border-style: double;border-color: solid black ;"><b> ! CHOOSE YOUR ATTIRE ! </b></span>
     
</div>





<!--herooffers-->
<div class="heroimagedown">
  <div>
    <button class="btnoffer" style="font-size: 30px;"><strong><em>! SHOP HERE !</em></strong></button>
  </div>
</div>




<!--footer-->

 <footer style="border-color: darkgrey; border-style: solid; background-color:#111345 ; margin-top:150px;color:white ">

                  <p>Copyright © 2019 attirent.com | All Rights Reserved                                                            <a href="#top" class="top" >^</a></p>

                 
                </footer>


</body>
</html>