<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="logo.png" >
<link rel="stylesheet" type="text/css" href="wedmenstyle.css">
<title>WEDDING MEN</title>
<!--responsive-->

</head>






<!--maincode-->
<body>

   <A name="top"></A>

   <!-- MENUS -->
   
        <nav class="topnav" id="myTopnav">
          <img class="attirent" src="logo.png" width=150 height=75>

           <label  for="drop" class="toggle" >MENU <i class="fa fa-bars" style="font-size: 20px;"></i></label>
           <input type="checkbox" id="drop" />


          <ul class="menu">
            
            <li><a href="index.php">HOME</a>
            </li>

            <li><a href="#">SELECT YOUR PLACE   <i class="fa fa-chevron-down" style="font-size:15px"></i></a>
                              
                              <ul>
                                <li><a href="#">MUMBAI  <img src="https://image.flaticon.com/icons/svg/0/834.svg" width="25" height="25"></li>
                    <li><a href="#"><a href="#"><a href="#">AGRA  <img src="https://image.flaticon.com/icons/svg/1197/1197938.svg" width="25" height="25"></li>
                                <li><a href="#"><a href="#">PUNE  <img src="https://image.flaticon.com/icons/svg/89/89020.svg" width="25" height="25"></li>
                                <li><a href="#">DELHI  <img src="https://image.flaticon.com/icons/svg/743/743629.svg" width="25" height="25"></li>   
                              </ul>         
            </li>
            
            <li><a href="#">OFFERS  <i class="fa fa-chevron-down" style="font-size:15px"></i></a>
              <ul>
                <li><a href="festiveoff.html">FESTIVE   <i class="fas fa-gifts" style="font-size:15px"></i></a></li>
                <li><a href="wedoffers.html">WEDDING   <i class="fas fa-gifts" style="font-size:15px"></i></a></li>
              </ul>
            </li>
            <li><a href="#">CATEGORY  <i class="fa fa-chevron-down" style="font-size:15px"></i></a>

              <ul>
                <li><a href="weddingmen.html">MEN   <i class="fas fa-male" style="font-size:15px"></i></a>
                  <ul>
                    
                    <li><a href="weddingmen.html">WEDDING </a></li>
                    
                   
                  </ul>
                </li>
                <li><a href="weddingwomen.html">WOMEN   <i class="fas fa-female" style="font-size:15px"></i></a>
                  <ul>
                    
                    <li><a href="weddingwomen.html">WEDDING  </a></li>
                   
                    
                  </ul>
                </li>
                

              </ul>
            </li>
            
            <li><a href="contact.php">CONTACT US</a></li>
     
          </ul>

       
        </nav>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:60px;text-shadow: 2px 2px 5px red;">WELCOME TO WEDDING TRIBAL.</h1>
  <div>
  <span class="blinkingone" style="font-size: 30px;color: white; padding:5%;margin-left: -10px;margin-top: -50%; border-style: double;border-color: solid black ;  border-radius:50px; "><b>! FOR MEN !</b></span>
  </div>
  <div class="hero-text-two">
    <p style="margin-top: 50px;">ExClUsIvE WeAr OnLy @ATTIRENT.</p>
    <button class="btn warning" onclick="location.replace('indexc4.php');"><em><strong>EXPLORE HERE</strong></em></button>
</div>
</div>
</div>
</div>



<!--#smartlookscaption-->
<div class="coltext" style="margin-left: 550px;">
    
     <span class="blinking" style="font-size: 60px;color: white;margin-left: -70px;margin-top: -50%; border-style: double;border-color: solid black ;"><b>#SMARTLOOKS</b></span>
</div>


<!--overlayimages-->
<div class="container">
  <img src="sabhyasachimenwedding.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <i class='fas fa-gift' style='font-size:50px;color:black;margin-left: 45%'></i>
    <div class="text" style="font-size: 40px; margin-top: 60px"><h4 class="dashed">BuY Sabhyasachi Wedding Wear </h4></div>
    <br>
    <p style="color: white; font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>EXCLUSIVELY DESIGNED BY SABHYASACHI ETHNIC.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 15px;margin-left: 25px"><strong>RENTING WEDDING ATTIRE AT CHEAPER COST ONLY AT ATTIRENT.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>"BEING A TRUE GENTLEMEN NEVER GOES OUT OF FASHION."</strong></p> 
    <button class="button"><span>RENT HERE</span></button>
</div>
</div>


<div class="containerone">
  <img src="manyavarmenwedding.jpg" alt="Avatar" class="image">
  <div class="overlayone">
    <i class='fas fa-gift' style='font-size:50px;color:yellow;margin-left: 45%'></i>
    <div class="textone" style="font-size: 40px; margin-top: 60px"><h4 class="dashed">Buy Manyavar Wedding Wear</h4></div>
    <br>
    <p style="color: white; font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>EXCLUSIVELY DESIGNED BY MANYAVAR ETHNIC.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 15px;margin-left: 25px"><strong>RENTING WEDDING ATTIRE AT CHEAPER COST ONLY AT ATTIRENT.</strong></p>
    <p style="color: white;font-family: Comic Sans MS; font-size: 20px;margin-left: 25px"><strong>"STYLE IS THE PERFECTION OF A POINT OF VIEW."</strong></p> 
    <button class="buttonone"><span>RENT HERE</span></button>
</div>
</div>

<!-- contents-->

<div class="coltext" style="margin-left: 400px; color: #020480;text-shadow: 2px 2px red;">
  <span class="blinking" style="font-size: 60px;color: white;margin-left: -50px;margin-top: -40%; border-style: double;border-color: solid black ;"><b> ! CHOOSE YOUR ATTIRE ! </b></span>
     
</div>



<!--herooffers-->
<div class="heroimagedown">
  <div>
    <button  class="btnoffer" onclick="return rep()" style="font-size: 30px;"><strong><em>! SHOP HERE !</em></strong></button>
  </div>
</div>

<script type="text/javascript">
  function rep(){
    location.replace("wedoffers.html");
  }
</script>








<!--footer-->

 <footer style="border-color: darkgrey; border-style: solid; background-color:#111345 ; margin-top:150px;color:white ">

                  <p>Copyright © 2019 attirent.com | All Rights Reserved                                                            <a href="#top" class="top" >^</a></p>

                 
                </footer>











</body>

</html>