<!DOCTYPE html>
<html>
<head>
<title>WeDdInG OfFeR$</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<link rel="shortcut icon" href="logo.png" >
<link rel="stylesheet" type="text/css" href="weddofferstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">













<!--maincode-->
<!--maincode-->
</head>
<body>
  <A name="top"></A>

   <!-- MENUS -->
   
        <nav class="topnav" id="myTopnav">
          <img class="attirent" src="logo.png" width=150 height=75>

           <label  for="drop" class="toggle" >MENU <i class="fa fa-bars" style="font-size: 20px;"></i></label>
           <input type="checkbox" id="drop" />


          <ul class="menu">
            
            <li><a href="index.php">HOME</a>
            </li>

            <li><a href="#">SELECT YOUR PLACE   <i class="fa fa-chevron-down" style="font-size:15px"></i></a>
                              
                              <ul>
                                <li><a href="#">MUMBAI  <img src="https://image.flaticon.com/icons/svg/0/834.svg" width="25" height="25"></li>
                    <li><a href="#"><a href="#"><a href="#">AGRA  <img src="https://image.flaticon.com/icons/svg/1/1159.svg" width="25" height="25"></li>
                                <li><a href="#"><a href="#">PUNE  <img src="https://image.flaticon.com/icons/svg/89/89020.svg" width="25" height="25"></li>
                                <li><a href="#">DELHI  <img src="https://image.flaticon.com/icons/svg/743/743629.svg" width="25" height="25"></li>   
                              </ul>         
            </li>
            
            <li><a href="#">OFFERS  <i class="fa fa-chevron-down" style="font-size:15px"></i></a>
              <ul>
                <li><a href="festiveoff.html">FESTIVE   <i class="fas fa-gifts" style="font-size:15px"></i></a></li>
                <li><a href="wedoffers.html">WEDDING   <i class="fas fa-gifts" style="font-size:15px"></i></a></li>
              </ul>
            </li>
            <li><a href="#">CATEGORY  <i class="fa fa-chevron-down" style="font-size:15px"></i></a>

              <ul>
                <li><a href="weddingmen.html">MEN   <i class="fas fa-male" style="font-size:15px"></i></a>
                  <ul>
                    
                    <li><a href="weddingmen.html">WEDDING </a></li>
                    
                   
                  </ul>
                </li>
                <li><a href="weddingwomen.html">WOMEN   <i class="fas fa-female" style="font-size:15px"></i></a>
                  <ul>
                    
                    <li><a href="weddingwomen.html">WEDDING  </a></li>
                   
                    
                  </ul>
                </li>
                

              </ul>
            </li>
            
            <li><a href="contact.php">CONTACT US</a></li>
     
          </ul>

       
        </nav>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:60px;text-shadow: 2px 2px 5px red;margin-top: 10px; " class="">SPECIAL OFFERS FOR WEDDING SEASON UPTO 25% OFF.</h1>
  <div>
  <span class="blinkingone" style="font-size: 30px;color: white; padding:5%;margin-left: -10px;margin-top: -50%; border-style: double;border-color: solid black ;  border-radius:10%; "><b>! EXCLUSIVELY FOR MEN AND WOMEN !</b></span>
  </div>
  <div class="hero-text-two">
    <p style="margin-top: 90px; font-size: 20px; color: #ffbf00">YOUR VIBE ATTRACTS YOUR TRIBE, TRY OnLy @ATTIRENT.</p>
    <button onclick="location.replace('indexc3.php');"class="btn warning"><em><strong><b>EXPLORE HERE</b></strong></em></button>
</div>
</div>
</div>
</div>








<!--#smartlookscaption-->
<div class="coltext" style="margin-left: 400px; color: #020480;text-shadow: 2px 2px red;"">
    
     <span class="blinking" style="font-size: 60px;color: white;margin-left:85px;margin-top: -50%; border-style: double;border-color: solid black ;"><b>#SMARTLOOKS</b></span>
</div>







<!--wedding slider-->
			<div class="slideshow">


             	<div class="myslides fade">

             		<div class="number">
             			1/3
             	    </div>
             	    <img src="weddingoffers.jpg" style="width:100%">
                    <div class="text">FORMAL TRIBE</div>
                </div>

                <div class="myslides fade">

             		<div class="number">
             			2/3
             	    </div>
             	    <img src="exclusivebridalwearoffers.jpg" style="width:100%">
                    <div class="text">WEDDING/TRADITIONAL OCCASION</div>
                </div>

                <div class="myslides fade">

             		<div class="number">
             			3/3
             	    </div>
             	    <img src="exclusivemensweddingsherwanis.png" style="width:100%">
                    <div class="text">SEASONAL VIBES</div>
                </div>
                 
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a> 
                <a class="next" onclick="plusSlides(1)">&#10095;</a>  

		     </div>
		     <br>
		     <div style="text-align: center">
		     	<span class="dot" onclick="currentSlide(1)"></span>
		     	<span class="dot" onclick="currentSlide(2)"></span>
		     	<span class="dot" onclick="currentSlide(3)"></span>
		     </div>	
			</div>

			<script type="text/javascript">
                      

                      var slideIndex = 0;
                      showSlides();

                      function plusSlides(n){
                      	showSlides(slideIndex+=n);
                      }

                      function currentSlide(n){
                      	showSlides(slideIndex = 1);
                      }

                      function showSlides(n){
                      	var i;
                      	var slides=document.getElementsByClassName("myslides");
                      	
                      	
                      	for(i=0; i<slides.length;i++){
                           slides[i].style.display = "none";

                      	}

                        slideIndex++;

                        if(slideIndex>slides.length){
                          slideIndex=1
                        }
                      	
                      	slides[slideIndex-1].style.display="block";
                      	
                        setTimeout(showSlides,3000);
                       }

            </script>





<!-- contents-->

<div class="coltext" style="margin-left: 90px; color: #020480;text-shadow: 2px 2px red;">
  <span class="blinking" style="font-size: 55px;color: white;margin-left: -70px;margin-top: -40%; border-style: double;border-color: solid black ;"><b>! SELECT COUPON WITH EXCLUSIVE WEDDING OFFERS !</b></span>
     
</div>





<!--coupon-->
<div>
<div class="coupon">
  <div class="container">
    <img src="logo.png" style="width: 50px;margin-left: 250px;margin-top: 10px;"><h3 style="margin-top: -50px;font-size: 30px; margin-left: 120px;">ATTIRENT</h3>
  </div>
  <img src="summernostalgia.jpeg" alt="Avatar" style="width:100%; height: 50%;">
  <div class="container" style="background-color:white">
    <h1><b>25% OFF ON PURCHASE ONLY @ATTIRENT.</b></h1> 
    <p style="color: #010030;font-size: 15px;"><strong>A touch of nostalgia, whim and breezy summers - here are the latest cues from the Sabyasachi Lehenga collection, 'The Endless Summer'. Sit up, take notes and be on trend with the right summer... </strong></p>
  </div>
  <div class="container">
    <p><strong>Use Promo Code: </strong><span class="promo"><strong>CSG2710</strong></span></p>
    <p class="expire">Expires: Dec 31, 2022</p>
  </div>
</div>



<div class="couponone">
  <div class="container">
    <img src="logo.png" style="width: 50px;margin-left: 250px;margin-top: 10px;"><h3 style="margin-top: -50px;font-size: 30px; margin-left: 120px;">ATTIRENT</h3>
  </div>
  <img src="perfectdestinationwedding.jpg" alt="Avatar" style="width:100%;height: 290px;">
  <div class="container" style="background-color:white">
    <h1><b>25% OFF ON YOUR PURCHASE ONLY @ATTIRENT.</b></h1> 
    <p style="color: #010030;font-size: 15px;"><strong>Sabyasachi Spring-Summer Collection 2018 featuring vibrant, fruity neon colours.
    BEST SPRING SANGEET AND MEHENDI collection of sabhyasachi lehengas available at a reasonal offer price.</strong></p>
  </div>
  <div class="container">
    <p><strong>Use Promo Code: </strong><span class="promoone"><strong>SCP2710</strong></span></p>
    <p class="expireone">Expires: Jan 01, 2022</p>
  </div>
</div>
</div>


<A name="bottom"></A>









<!--footer-->

 <footer style="border-color: darkgrey; border-style: solid; background-color:#111345 ; margin-top:150px;color:white ">

                  <p>Copyright © 2019 attirent.com | All Rights Reserved                                                            <a href="#top" class="top" >^</a></p>

                 
                </footer>









</body>
</html>